extends layout

block content
  h1= title
  h4= schoolcode
  h2 Our honorable institiution #{name} was est. in the year #{yearEst}
  p Please visit our school in #{location}
  p If you like it here please write a check for #{tuition}
  





//- name: 'Edge Tech Academy' ,
//-         tuition: 14400 , 
//-         location: 'Arlington Tx' , 
//-         yearEst: 2016